---
---

@import "https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Staatliches&display=swap";

body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
}

div.head {
    padding: 8px 16px;
    h1 {
        font-family: 'Staatliches', sans-serif;
        text-transform: uppercase;
    }
    p {
        font-weight: 500;
        font-size: 0.9em;
    }
    h1, p {
        margin: 0;
    }
}
