{% include head.html %}
<body>
    <div class="container">
        <div class="row head">
            <h1>{{site.title}}</h1>
            <p>{{site.description}}</p>
        </div>
        <diw class="row expand">
            <span></span>
        </diw>
    </div>
    <div>
        <h2>Medium</h2>
        <div>Latest articles</div>
    </div>
    <div>
        <h1>DEV</h1>
        <span>>></span>
    </div>
    <div>
        <h3>GitHub</h3>
    </div>
    <div>
        <h3>LinkedIn</h3>
    </div>
    <footer></footer>
    {% include scripts.html %}
</body>